body{
  background-color: #f5f6fa;
}
.App{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app_left {
  flex: 0.9;
}
.app_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.app_stats {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 990) {
  .app{
    flex-direction: column;
  }
}
